Barclays - Online Banking - PSUs "TPP session" expires and "swallows" the PSU

According to the Open Banking Account and Transaction API Specification v1.1.0:
> If the PSU does not complete a successful consent authorisation (e.g. if the PSU is not authenticated successfully), the authorization code grant ends with a redirection to the TPP with an error response as described in RFC 6749 Section 4.1.2.1. The PSU is redirected to the TPP with a error parameter indicating the error that occoured.

Following deployment of the "Barclays enhanced OB journeys", during the web-to-web flow if the PSU takes longer than ~5 minutes to log in then they are met with the following error:
> 6021 - Your TPP session has expired. Please restart the process to proceed further.

The PSU is not redirected "automatically" back to the TPP after this error, and there is no action available for the PSU to "restart the process" as they are "stuck" on the Barclays Online Banking page. The TPP is not notified that the PSU was not able to successfully complete the consent journey.

The PSU is also unaware of the time limit to complete the consent journey, as there is no clear mention of it on the "log in" page.

## Expected

PSU should be redirected back to the TPP if an error occurs during the consent journey, and there is no way for the PSU to recover.

## Actual

PSU is left "stuck" on the Online Banking page, and has no feasible way of returning back to the TPP.

## Impact

Critical. This change has been pushed onto a live production environment, breaking redirection flows for PSUs that take longer than 5 minutes to log in.

The PSU is unable to recover from the failure even if they intended to restart the authorisation process due to lack of redirection.

Submitted as [OBSD-6460](https://openbanking.atlassian.net/servicedesk/customer/portal/1/OBSD-6460).