LBG - redirect does not include `error` parameter in session timeouts

LBG brands (Lloyds, Halifax, Bank of Scotland) are not redirecting to the TPP with an error code when the PSU's session times out on their authorisation page. 
![image](https://user-images.githubusercontent.com/16567303/60678762-74d92800-9e7d-11e9-830b-092ed5989f45.png)


From https://openbanking.atlassian.net/wiki/spaces/DZ/pages/127009221/Read+Write+Data+API+Specification+-+v2.0.0#Read/WriteDataAPISpecification-v2.0.0-ErrorCondition:

> If the PSU does not complete a successful consent authorisation (e.g. if the PSU is not authenticated successfully), the authorization code grant ends with a redirection to the TPP with an error response as described in RFC 6749 Section 4.1.2.1. The PSU is redirected to the TPP with an error parameter indicating the error that occurred.

## Expected

When a user's session times out, the ASPSP redirects to the TPP with an error parameter.

e.g.
https://tpp.redirect.com/redirect/?error=access_denied&state={STATE}

## Actual

The ASPSP omits the `error` parameter when redirecting to the TPP.

e.g.
https://tpp.redirect.com/redirect/?state={STATE}

## Impact

TPPs are unable to track errored consent journeys.

## Remediation

ASPSPs redirect with an `error` parameter as according to the spec.
